.DealDocumentsPanel {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FBFCFF;
  box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;

  .no-docs {
    padding: 10px;
  }

  a {
    width: 90%;
    button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      outline: none;
      background-color: white;
      margin: 10px 0;
      text-transform: none;
      flex-wrap: wrap;
      overflow: hidden;

      span {
        text-align: left;
      }


      svg {
        fill: #B3B1FE;
        margin: 0px 5px;
      }
    }
  }
}
