.TabMenuPanel {
  width: 100%;
  min-height: 20rem;
  box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;



  .tabs-container {
    background-color: white;
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 3px 3px 0px 0px;


    .tab {
      text-align: center;
      font-family: 'Circula-Medium' !important;
      font-weight: 500;
      font-size: 12px;
      color: rgb(135, 135, 135);
      width: 100%;
      text-transform: none;
      background-color: #FBFCFF;
      border-width: 0px;
      outline: none;
      white-space: nowrap;
    }

    .MuiButtonBase-root, .MuiTabs-indicator {
      width: 100%;
    }


    .Mui-selected {
      font-weight: 800;
      color: #0561FF;
      background-color: white;
    }

  }
  .MuiPaper-root {
    border: none;
    border-radius: 5px;

  }
}

@media screen and (max-width: 960px) {

  .no-data {
    font-size: 14px;
  }
}
