@import '../../App.scss';

.Profile {
  width: 100%;

  h4 {
    .fa-check {
      color: $green;
    }
    .fa-check,
    .fa-edit,
    .fa-circle-notch {
      margin-left: 10px;
    }
  }

  .row {
    margin-bottom: 20px;
  }

  .file-uploader {
    .file-label {
      display: inline-block;
    }
  }

  .account-paper {
    margin-top: 1rem;
    padding: 1rem;
    overflow-x: auto;
  }
}
