.Funds {
    .small-header {
        padding: 20px 20px 5px 20px;
        a {
            color: #fff;
        }
    }
    .admin-link {
        // padding: 20px;
        a {
            color: #333;
        }
    }
    button a {
        color: #fff !important;
    }
}