@import '../../../App.scss';

.MasterFiling {
  .filing-header {
    padding: 10px;
    font-size: 2em;
    margin-top: -10px;

    @include xs-only {
      font-size: 1.5em;
    }
  }

  .not-setup {
    background-color: $graygreen;
    border-radius: 5px;
    padding: 10px 20px;
  }

  .sub-category {
    // padding: 20px 15px;
    margin-bottom: 10px;

    h4 {
      cursor: pointer;
      padding: 10px;
      margin-bottom: 0px;
      border-radius: 5px 5px 0px 0px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;

      &.selected {
        background-color: $graygreen;
      }

      .progress-wrapper {
        display: inline-block;
        width: 20%;
        margin-left: 20px;
        padding-bottom: 3px;
        vertical-align: middle;
        text-align: right;
      }

      .fa-check-circle {
        color: $softgreen;
      }

      .MuiLinearProgress-determinate {
        background-color: #b7eedc;
        border: 1px solid $softgreen;
        .MuiLinearProgress-bar {
          background-color: $softgreen;
        }
      }
    }

    .step {
      padding: 5px 10px;
      margin: 6px 10px;
      border-radius: 0px;
      font-size: 1.2em;
      // border: 1px solid $softgreen;

      svg {
        float: right;
        top: 3px;
      }
      .fa-check-square {
        color: $softgreen;
      }
    }

    .sub-steps {
      padding: 15px 0px;
      background-color: #b7eedc;
    }
  }
}
