@import "../../App.scss";

.Deal {
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    h4 {
        text-align: center;
        color: #5a5a5a;
        margin-bottom: 20px;
    }

    .deal-data-room {
        padding: 25px;
        >span {
            display: inline-block;
            background-color: $softblue;
            padding: 10px 15px;
            font-size: 1.2em;
            margin-right: 10px;
        }
    }

    .KYC {
        padding: 20px 50px;
        margin: 0px 25px;
        >div {
            padding: 5px 0px;
        }
        .file-label {
            margin-right: 10px;
        }
    }

    .investment-flow {
        @include xs-only {
            padding: 0px;
            box-shadow: none;
        }

        .investment-invited {
            margin-bottom: 10px;
            text-align: center;
            font-size: 1.1em;
            color: #404040;
            background-color: #eaeffc;
        }

        .small-header {
            text-align: left;
        }
        .investment {
            .investment-amount {
                display: inline-block;
                font-size: 2em;
                padding-right: 10px;
            }
            .investment-status {
                display: inline-block;
                padding: 5px 10px;
                border-radius: 3px;
                vertical-align: top;
            }


            .investment-pledged {
                background-color: #FFC107;
                color: #333;
            }
            .investment-onboarded {
                background-color: $brandblue;
                color: #fff;
            }
            .investment-complete {
                background-color: $green;
                color: #fff;
            }
        }

        .deal-memo {
            margin: 25px 0px 10px 0px;
            padding: 15px;
            border-radius: 5px;
            font-size: 1.1em;
            background-color: $softblue;
        }

        .flow {
            padding: 10px 0px;
            @include xs-only {
                padding: 0px 0px 5px 0px;
            }

            .flow-steps {
                text-align: center;
                padding: 10px 0px;
            }
            .step {
                display: inline-block; 
                padding: 10px 20px;
                color: #a7a7a7;
                cursor: pointer;
                @include xs-only {
                    padding: 6px 12px;
                }
            }
            .step-data-room {
                border: 1px solid #a7a7a7;
                border-radius: 5px 0px 0px 5px;
                margin-right: -1px;
            }
            .step-pledge {
                border: 1px solid #a7a7a7;
                margin-right: -1px;
            }
            .step-onboard {
                border-top: 1px solid #a7a7a7;
                border-bottom: 1px solid #a7a7a7;
            }
            .step-wire {
                border: 1px solid #a7a7a7;
                border-radius: 0px 5px 5px 0px;
                margin-left: -0px;
            }
            .step-active {
                background-color: $brandblue;
                color: #fff;
            }
        }

        .waiting {
            margin: 10px 30px;
            text-align: center;
            font-size: 1.3em;
            color: #333;
            background-color: #FCFCFC;
        }

        .external-sign-link {
            text-align: center;
            padding-bottom: 15px;
            font-size: 1.3em;
        }

        .wire {
            .crypto-wire {
                padding: 10px;
                font-size: 1.1em;
            }

            .wire-link {
                @include xs-only {
                    margin: 5px 10px;
                }
            }
        }

        .pledging, .wire {
            text-align: center;
        }

        // pledging
        .pledging {
            .pledging-form {
                .pledge-amount {
                    margin: 0px 5px;
                }
                .pledge-btn {
                    margin: 10px 5px;
                    background-color: $softgreen;
                }
            }

            .edit-pledge {
                .edit-btn {
                    margin: 10px;
                }
            }

            .pledges-table {
                display: inline-block;
                width: 25%;
                vertical-align: top;
                max-height: 200px;
                overflow: scroll;
                td {
                    text-align: right;
                }

                .total td {
                    // background-color: $graygreen;
                    color: $softgreen !important;
                    // padding: 2px;
                }
            }

            .pledges-viz-wrapper {
                display: inline-block;
                width: 70%;
                margin-right: 0%;
                padding: 0px;
                #pledges-viz {
                    height: 200px;
                }

                &.no-pledges {
                    background-color: $graygreen;
                    p {
                        padding: 10px 10px 0px 10px;
                    }
                }
            }   
        }

        .pledge-link, .wire-link {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: 5px;
            padding: 10px 25px;
            margin: 25px 40px;
            font-size: 1.3em;
            text-align: center;
            a {
                margin-left: 15px;
                color: #333;
            }
        }
    }

    .investment-details {
        .small-header {
            text-align: left;
            color: #5a5a5a;
        }

        .closing-date {
            padding: 10px 15px;
            font-size: 1.2em;
            .fa-clock {
                color: #ffc107;
            }
            >span {
                padding-left: 10px;
            }
            margin-bottom: 15px;
        }

        .deal-lead {
            padding: 10px 15px;
            font-size: 1.3em;
            color: #333;
            span {
                padding-left: 15px;
            }
        }

        .deal-params {
            margin-top: 10px;
            padding: 10px;
            >div {
                display: flex;
                justify-content: space-between;
                padding: 5px 0px;
                border-bottom: 1px dotted lightgray;
                >span {

                }
            }
        }
    }

    .investor-details {
        margin: 10px 0px;
        >div {
            margin-bottom: 5px;
            input {
                color: #333;
            }
        }
    }
}


.document-iframe.hide {
    display: none;
}

.document-iframe {
    padding: 10px 20px;
    position: relative;

    .temp-loader {
        position: absolute;
        top: 150px;
        width: 100%;
        z-index: 1000;
    }

    @include xs-only {
        padding: 0px 0px;
    }

    .embed-responsive {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }        
}
