@import "../../App.scss";

.AllDeals {
    .deal-data {
        padding: 20px;
        margin: 10px 0px;
        a {
            color: #fff;
        }
    }

    .closed-deals {
        .closed-deal-row:hover {
            td {
                background-color: $graygreen;
            }
        }

    }

    h5 {
        background-color: $graygreen;
        border-radius: 5px 5px 0px 0px;
        padding: 10px;
        margin-bottom: 0px;
        font-weight: 400;
    }

    th {
        font-weight: bold;
    }

    .deals-length {
        background-color: $softgreen;
        color: #fff;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
    }

    .CapitalAccount {
        position: relative;

        .CapitalAccount-table {
            vertical-align: top;
            width: 40%;
            margin: 10px 0px; 
            display: inline-block;
        }
        .CapitalAccount-pie {
            vertical-align: top;
            height: 300px; 
            width: 60%; 
            display: inline-block;
        }
    }
}