.DealNextSteps {
  width: 100%;
  height: 90vh;
  padding-bottom: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;

  .title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .header {
        font-size: 1.5rem;
      }

      .sub-header {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }
    .action-header {
      display:flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .new-investment-button {
      text-decoration: none;
      color:inherit;
    }
  }


  .back-button {
    width: max-content;
    font-size: .75rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: none;
    background-color: #FBFCFF;
    box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
    border: 1px solid rgba(128, 128, 128, 0.166);
    color: grey;
    transition: color .25s ease-out;

    &:hover {
      color: black;
      transition: color .25s ease-in;
    }

    svg {
      transform: scale(.75);
    }
  }

  .action-items {

    .action-item {
      border-radius: 5px;
      height: 5rem;
      margin: 5px 0px;
      display: flex;
      align-items: center;
      background-color: #FBFCFF;
      box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
      border: 1px solid rgb(232, 232, 232);
      position: relative;

      .action-icon {
        margin: 0px 20px;
        width: 25px;
        height: 25px;
      }

      .action-instructions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .action-header, .action-sub-header {
          margin: 0;
        }

        .action-header {
          font-size: 1.2rem;
          font-weight: 700;
        }

        .action-sub-header {
          font-size: .75rem;
          font-weight: 400;
        }
      }

      .completed-step-button {
        background-color: #3AC522;
        border-radius: 5px;
        font-weight: 600;
        color: white;
        text-transform: none;
        border: none;
        outline: none;
        position: absolute;
        padding: 10px;
        min-width: 10rem;
        right: 20px;
        font-size: .75rem;
      }

      .next-step-button {
        background-color: #2A2C53;
        border-radius: 5px;
        font-weight: 600;
        font-size: .75rem;
        color: white;
        text-transform: none;
        border: none;
        outline: none;
        position: absolute;
        padding: 10px;
        min-width: 10rem;
        right: 20px;
      }
    }
  }


  .confetti {
    position: absolute;
    top: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    transition: all .25s ease forwards;
    margin-top: -20px;
  }

  .hidden {
    animation: hide .5s ease-in forwards;
  }
}

@media screen and (max-width: 600px) {
  .DealNextSteps {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: fit-content;

    .header {
      font-size: 1.5rem;
      width: 90%;
      text-align: left;
      margin-left: 2.5%;
    }

    .sub-header {
      font-size: 1rem;
      margin-left: 2.5%;
      font-weight: 400;
      margin-bottom: 1rem;
      width: 90%;
      text-align: left;
    }

    .back-button {
      width: max-content;
      font-size: .75rem;
      margin-bottom: 1rem;
      margin-left: 2.5%;
      padding-right: 5px;
      font-weight: 700;
      text-transform: none;
      background-color: #FBFCFF;
      box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
      border: 1px solid rgba(128, 128, 128, 0.166);
      color: grey;
      transition: color .25s ease-out;

      &:hover {
        color: black;
        transition: color .25s ease-in;
      }

      svg {
        transform: scale(.75);
      }
    }

    .disabled {
      opacity: .5;
    }

    .action-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .action-item {
        border-radius: 5px;
        height: max-content;
        width: 95%;
        margin: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #FBFCFF;
        box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
        border: 1px solid rgb(232, 232, 232);
        position: relative;

        .action-icon {
          margin: 0px 10px;
          width: 10%;
          height: 30px;
        }

        .action-instructions {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin: 10px 0;

          .action-header, .action-sub-header {
            margin: 0;
          }

          .action-header {
            font-size: 1.2rem;
            font-weight: 700;
          }

          .action-sub-header {
            font-size: .75rem;
            font-weight: 400;
          }


        }

        .completed-step-button {
          background-color: #3AC522;
          border-radius: 5px;
          font-weight: 600;
          color: white;
          text-transform: none;
          border: none;
          outline: none;
          margin: 10px 0;
          position: initial;
          padding: 10px;
          width: 90%;
          font-size: .75rem;
        }

        .next-step-button {
          width: 90%;
          background-color: #2A2C53;
          border-radius: 5px;
          margin: 10px 0;
          font-weight: 600;
          font-size: .75rem;
          color: white;
          text-transform: none;
          border: none;
          outline: none;
          position: initial;
          padding: 10px;
        }
      }
    }
  }


}


@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
