@import "../../App.scss";

.blue-container {
    background: rgb(32,93,245);
    background: linear-gradient(180deg, rgba(32,93,245,1) 0%, rgba(0,94,255,1) 400px, rgba(255,255,255,1) 400px);
    margin-top: -30px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-left: -32px;
    padding-left: 32px;
    margin-right: -32px;
    padding-right: 32px;
    }