.DealEdit {
    input {
        // width: 100%;
    }

    .AddInvestment {
        >div, >button {
            margin-bottom: 10px;
        }
    }

    .edit-button {
        color: blue;
    }
    .investment-edit {
        padding: 15px 10px;

        .investor-name {
            text-align: center;
            padding: 5px;
            .fa-times {
                margin-left: 5px;
            }
        }
    }
}

.form-wrapper {
    .form-title {
        font-size: 1.5em;
    }

    .form-sub-title {
        font-size: 1.2em;
        color: #a7a7a7;
    }

    .row {
        margin: 25px 0px;
    }

    .fa-plus-circle {
        cursor: pointer;
    }
    .fa-times {
        cursor: pointer;
    }
    .fa-copy {
        cursor: pointer;
    }

    .loading-table, .invited-investors-none {
        padding: 10px;
        text-align: center;
        font-size: 1.5em;
        color: #a7a7a7;
    }

    .invited-investor {
        font-size: 0.8em;
    }

    .invited-investors {
        font-size: 0.9em
    }
    .search-investors {
        font-size: 0.9em;
    }
}