.TermsPanel {
  width: 37.5%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FBFCFF;
  box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
  border: 1px solid rgb(232, 232, 232);


  ul {
    list-style: none;
    padding: 10px 0;
    width: 100%;

    li {
      width: 100%;
      padding-left: 15px;
      margin: 20px 0;

      p {
        font-size: .8em;
        margin: 5px 0;
      }

      h2 {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
      }

      h3 {
        font-size: 18px;
      }
    }
  }

  button {
    background-color: #3AC522;
    color: white;
    width: 95%;
    height: 3rem;
    outline: none;
  }
}
