$white: #f5f5f5;
$lightgrey: #dadada;
$midgrey: #7d7d7d;
$darkgrey: #4b4b4c;
$blue: #00a0e3;
$darkblue: #2a2d52;
$black: #111217;
$brownl: #70392f;
$brownd: #612e25;
$yellow: #ffdc01;
$orange: #fdac01;
$red: #f73b01;
$animationtime: 0.75s;

.AllocationsRocket {
  position: fixed;
  width: 80px;
  bottom: 180px;
  left: calc(50% - 40px);
  animation: fade-in 0.5s ease-in forwards;
  animation: hide 0.5s ease-in forwards 5s;

  .rocket-body {
    width: 80px;
    left: calc(50% - 50px);
    opacity: 0;
    animation: fade-in 0.75s ease-in forwards, bounce 0.5s infinite,
      takeoff 2s ease-in forwards 2.2s;
    position: relative;
    top: 20px;
    transform: translateY(50%);

    .body {
      z-index: 10000;
      background-color: $lightgrey;
      height: 180px;
      left: calc(50% - 90px);
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top: 5px solid $white;
    }

    &:before {
      content: '';
      z-index: 2;
      position: absolute;
      left: calc(50% - 24px);
      width: 48px;
      height: 13px;
      background-color: $darkgrey;
      bottom: -13px;
      border-bottom-right-radius: 60%;
      border-bottom-left-radius: 60%;
    }
  }

  .window {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $darkblue;
    left: calc(50% - 25px);
    top: 40px;
    border: 5px solid $midgrey;
    display: flex;
    justify-content: center;
    align-items: center;

    .window-logo {
      width: 25px;
    }
  }

  .fin {
    position: absolute;
    z-index: -100;
    height: 55px;
    width: 50px;
    background-color: $darkblue;
  }

  .fin-left {
    left: -30px;
    top: calc(100% - 55px);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%;
  }

  .fin-right {
    right: -30px;
    top: calc(100% - 55px);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 20%;
  }

  .exhaust-fumes li {
    width: 60px;
    height: 60px;
    background-color: $white;
    list-style: none;
    position: absolute;
    border-radius: 100%;
    animation: fade-in 1.2s ease-in forwards;

    &:first-child {
      width: 200px;
      height: 200px;
      bottom: -300px;
      animation: fumes 5s infinite;
    }
    &:nth-child(2) {
      width: 150px;
      height: 150px;
      left: -120px;
      top: 260px;
      animation: fumes 3.2s infinite;
    }
    &:nth-child(3) {
      width: 120px;
      height: 120px;
      left: -40px;
      top: 330px;
      animation: fumes2 3s 1s infinite;
    }
    &:nth-child(4) {
      width: 100px;
      height: 100px;
      left: -170px;
      animation: fumes 4s 2s infinite;
      top: 380px;
    }
    &:nth-child(5) {
      width: 130px;
      height: 130px;
      left: -120px;
      top: 350px;
      animation: fumes3 5s infinite;
    }
    &:nth-child(6) {
      width: 200px;
      height: 200px;
      left: -60px;
      top: 280px;
      animation: fumes2 10s infinite;
    }
    &:nth-child(7) {
      width: 100px;
      height: 100px;
      left: -100px;
      top: 320px;
    }
    &:nth-child(8) {
      width: 110px;
      height: 110px;
      left: 70px;
      top: 340px;
    }
    &:nth-child(9) {
      width: 90px;
      height: 90px;
      left: 200px;
      top: 380px;
      animation: fumes 20s infinite;
    }
  }

  .fire {
    z-index: 1;
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -25%) rotate(-180deg);
    height: 75px;
    width: 75px;
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
    //background-color:$red;
    .flames {
      top: -30px;
      position: absolute;
      bottom: 40%;
      left: 50%;
      width: 60%;
      height: 60%;
      //background-color:$red;
      transform: translateX(-50%) rotate(45deg);
      .flame {
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: 0%;
        height: 0%;
        background-color: $yellow;
        border-radius: 1vw;
        &:nth-child(2n + 1) {
          animation: flameodd $animationtime ease-in infinite;
        }
        &:nth-child(2n) {
          animation: flameeven $animationtime ease-in infinite;
        }
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: $animationtime * 0.25;
        }
        &:nth-child(3) {
          animation-delay: $animationtime * 0.25 * 2;
        }
        &:nth-child(4) {
          animation-delay: $animationtime * 0.25 * 3;
        }
      }
    }
  }
}

@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: rgba(145, 145, 145, 0.13);
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes fumes2 {
  50% {
    background-color: rgba(175, 175, 175, 0.719);
    transform: scale(1.1);
  }
}

@keyframes fumes3 {
  50% {
    background-color: rgba(117, 115, 115, 0.719);
    transform: scale(1.1);
  }
}

@keyframes flameodd {
  0%,
  100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: $yellow;
    z-index: 1000000;
  }
  40% {
    background-color: $orange;
    z-index: 1000000;
  }
  100% {
    background-color: $red;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 1%;
    bottom: 2%;
  }
  100% {
    right: 150%;
    bottom: 170%;
  }
}

@keyframes flameeven {
  0%,
  100% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 100%;
    height: 100%;
  }
  0% {
    background-color: $yellow;
    z-index: 1000000;
  }
  40% {
    background-color: $orange;
    z-index: 1000000;
  }
  100% {
    background-color: $red;
    z-index: -10;
  }
  0% {
    right: 0%;
    bottom: 0%;
  }
  25% {
    right: 2%;
    bottom: 1%;
  }
  100% {
    right: 170%;
    bottom: 150%;
  }
}

@keyframes takeoff {
  100% {
    transform: translateY(-700%);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .AllocationsRocket {
    bottom: 20%;
  }
}
