.MuiBadge-colorPrimary,
.MuiBadge-colorSecondary {
  padding: 14px !important;
  border-radius: 100px !important;
}

.MuiBadge-colorPrimary {
  color: #ff0404 !important;
  background: #ff040441 !important;
}

.MuiBadge-colorSecondary {
  color: #39c522 !important;
  background: #38c52242 !important;
}
