.MuiBadge-colorPrimary {
  border-radius: 100px !important;
  padding: 14px !important;
  color: #ff0404 !important;
  background: #ff040441 !important;
}

.MuiBadge-colorSecondary {
  border-radius: 100px !important;
  padding: 14px 18px !important;
  color: #39c522 !important;
  background: #38c52242 !important;
}
