.MuiBadge-colorPrimary {
  border-radius: 100px !important;
  padding: 14px !important;
  color: #ff0404 !important;
  background: #ff040441 !important;
}

.MuiBadge-colorSecondary {
  border-radius: 100px !important;
  padding: 14px 18px !important;
  color: #39c522 !important;
  background: #38c52242 !important;
}

.MuiSvgIcon-colorDisabled {
  color: #205df5 !important;
  opacity: 0.25 !important;
}

.MuiSvgIcon-colorPrimary {
  cursor: pointer;
}

.MuiSvgIcon-colorPrimary:hover {
  color: #3f85f9;
}

.MuiIconButton-root:hover {
  background-color: transparent !important;
}

.MuiIconButton-root {
  color: transparent !important;
}

//need to confirm target
button:focus {
  outline: none !important;
}
