@import "../../App.scss";

.Investments {
    @include sm-and-up {
      padding-top: 50px;  
    }
    
    .investment-stats {
        padding: 20px 0px 30px 0px;
        font-size: 2em;

        @include xs-only {
            font-size: 1.5em;
        }

        .investments-n {
            padding: 10px;
            span {
                color: #5c2be2;
            }
            @include xs-only {
                margin-bottom: 10px; 
            }
            button {
                float: right;
                margin-top: 5px;
                a {
                    color: #fff;
                }
            }
        }
        .investments-sum {
            padding: 10px;
            span {
                color: #53B987;
            }
        }
    }

    .investment-status {
        padding: 2px 6px;
        border-radius: 2px;
    }

    .investment-status-invited {
        background-color: #FFC107;
        color: #333;
    }

    .investment-status-onboarded {
        background-color: $brandblue;
        color: #fff;
    }

    .investment-status-complete {
        background-color: $green;
        color: #fff;
    }

    #investments-timeseries-chart {
        height: 200px;
    }

    .fa-info-circle, .fa-times {
        cursor: pointer;
    }

    .doc-wrapper {
        display: inline-block;
        text-align: center;
        margin-right: 10px;
    }

    .doc {
        display: inline-block;
        height: 50px;
        width: 40px;
        margin: 0px 20px;
        border-radius: 5px;
        vertical-align: top;
    }

    .doc {
        position: relative;
        .fa-file-pdf {
            color: #F48FB1;
            font-size: 3em;
            position: absolute;
            right: 3px;
            top: 2px;
        }
    }

    .filename {
        text-align: center;
        font-size: 0.8em;
    }
}