@import "../../App.scss";

.Investments {
  @include sm-and-up {
    padding-top: 50px;
  }

  th {
    font-weight: bold;
  }

  .investment-stats {
    padding: 20px 0px 30px 0px;
    font-size: 2em;

    @include xs-only {
      font-size: 1.5em;
    }

    .investments-n {
      padding: 10px;

      span {
        color: #5c2be2;
      }

      @include xs-only {
        margin-bottom: 10px;
      }

      button {
        float: right;
        margin-top: 5px;

        a {
          color: #fff;
        }
      }
    }

    .investments-sum {
      padding: 10px;

      span {
        color: #53B987;
      }
    }
  }

  #investments-timeseries-chart {
    height: 200px;
  }

  .fa-info-circle, .fa-times {
    cursor: pointer;
  }

  .doc-wrapper {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
  }

  .doc {
    display: inline-block;
    height: 50px;
    width: 40px;
    margin: 0px 20px;
    border-radius: 5px;
    vertical-align: top;
  }

  .doc {
    position: relative;

    .fa-file-pdf {
      color: #F48FB1;
      font-size: 3em;
      position: absolute;
      right: 3px;
      top: 2px;
    }
  }

  .filename {
    text-align: center;
    font-size: 0.8em;
  }
}

.investment-status {
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}

.investment-status-invited {
  background-color: rgba(233, 187, 0, 1);
  color: #fff;
}

.investment-status-pledged {
  background-color: rgba(57, 123, 219, 1);;
  color: #fff;
}

.investment-status-onboarded {
  background-color: rgba(57, 123, 219, 1);
  color: #fff;
}

.investment-status-complete {
  background-color: rgba(87, 204, 100, 1);;
  color: #fff;
}

.investment-status-wired {
  background-color: rgba(87, 204, 100, 1);
  color: #fff;
}

.investment-status-signed {
  background-color: rgba(233, 86, 39, 1);
  color: #fff;
}
.investment-row:hover {
  background-color: $softblue;
  cursor: pointer;
}
