@import "../../App.scss";

.AdminExchangeOverview {
    .header {
        padding: 15px;
        h4 {
           margin: 0;
            font-weight: 400; 
        }
    }

    .row {
        margin-bottom: 15px;
    }

    h5 {
        background-color: $graygreen;
        border-radius: 5px 5px 0px 0px;
        padding: 10px;
        margin-bottom: 0px;
        font-weight: 400;
    }

    .empty-msg {
        padding: 10px;
    }

    .Trades {
        th {
            font-weight: bold;
        }  
    }
}

.InputTrade-wrapper {
    text-align: center;
}

.InputTrade {
    display: inline-block;
    margin: 50px 0;
    color: red;
}