.Sections {
  .paperMain {
    background-color: #f1f4fb;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    border-top: 1px solid #8493a640 !important;
    height: 100%;
  }
}
