@import '../../App.scss';

.SidebarDrawer {
  width: 100%;
  margin-top: 1rem;
  padding-left: 10%;
  background-color: #f7f7f7;
  .icon {
    min-width: 40px;
    color: #8593a6;
  }
  .sectionSideBarTitle {
    margin-left: 10%;
    font-weight: 500;
    font-size: 0.9rem;
    color: #707070;
    margin-top: 0.25rem;
  }
  .iconLabel {
    font-size: 900;
  }
}

.sidebar-nav-item a {
  color: #707070;
  font-size: 1.25rem;
}

.sidebar-nav-item:hover a {
  text-decoration: none !important;
}

.sidebar-nav-item-active a {
  color: #343f51 !important;
  font-weight: bold;
}

.sidebar-nav-item-active svg {
  color: #205df5;
}
