$break-sm: 600px;
$break-md: 960px;
$break-lg: 1280px;

@import '../../App.scss';

.Sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .appBar {
    width: 100%;
    background: #fff;
    color: #868c97;
    box-shadow: none !important;
    position: relative;
    height: 100%;
    border-bottom: 1px solid #d8dce6;

    @media only screen and (min-width: $break-md) {
      display: none;
    }

    .menuButton {
      margin-right: 1rem;
      &:focus {
        outline: none;
      }
      @media only screen and (min-width: $break-md) {
        display: none;
      }
    }
  }

  .contentContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;

    .drawer {
      width: 100%;
      height: 100%;
      @media only screen and (min-width: $break-md) {
        width: 100%;
        flex-shrink: 0;
      }

      .formControl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 80%;
        margin-top: 1.25rem;

        *:before {
          border: none !important;
        }

        .input {
          width: 100%;

          .formItem {
            border-bottom: 1px solid rgb(204, 204, 204);
            font-weight: 500;
          }
        }
      }

      .secondHidden {
        width: 100%;
        height: 100%;
      }

      .newDrawerPaper {
        height: 100%;
      }
    }

    .content {
      background: rgba(0, 0, 0, 0.01);
      height: 100vh;
      flex-grow: 1;
      padding: 2rem;
      max-width: calc(100% - 250px);
      width: calc(100% - 250px);
      overflow-y: scroll;
      height: calc(100vh - 70px);
      padding-bottom: 0;
      position: relative;
      @media only screen and (max-width: $break-md) {
        width: 100vw;
        padding: 1rem;
      }
    }
  }
}

.brand {
  flex-grow: 1;

  .brand-span {
    height: 60px;
    width: 180px;
    text-align: center;
    font-size: 1.5rem;
  }
}
