.SPVTermSettings {
  width: 90%;

  h2 {
    margin-bottom: 1rem;
  }

  .form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-weight: 500;

    .field {
      width: 48.5%;
    }

    .wide-field {
      width: 100%;
    }

    .wide-field,
    .field {
      margin-bottom: 1rem;

      .field-label {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;

        .text-input {
          margin: 5px 0;
          height: 3.5rem;
        }

        .management-fee {
          margin: 5px 0;
          display: flex;
          justify-content: space-between;

          .fee-input {
            width: 57.5%;
          }

          .percentage,
          .fixed {
            width: 20%;
            outline: none;

            &.selected {
              border: 2px solid #0461ff;
            }
          }

          .option-button {
            height: 3.5rem;
            font-size: 1rem;
            text-transform: none;
            outline: none !important;

            &.selected {
              border: 2px solid #0461ff;
            }
          }
        }

        .button-options {
          margin: 5px 0;
          display: flex;

          .option-button {
            outline: none !important;
            margin-right: 10px;
            height: 3.5rem;
            width: 10rem;
            font-size: 1rem;
            text-transform: none;

            &.selected {
              border: 2px solid #0461ff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .SPVTermSettings {
    width: 100%;

    .form-fields {
      .field {
        width: 100%;
      }

      .wide-field {
        width: 100%;
      }

      .wide-field,
      .field {
        .field-label {
          .management-fee {
            .fee-input {
              width: 55%;
            }

            .percentage,
            .fixed {
              width: 20%;
            }
          }

          .button-options {
            justify-content: space-between;

            .option-button {
              margin: 0px;
              width: 48.5%;
            }
          }
        }
      }
    }
  }
}
