.PersonalInformationPanel {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #fbfcff;
  box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
  border: 1px solid rgb(232, 232, 232);

  // label, input {
  //   font-size: .8rem;
  // }

  .country-input {
    margin-top: 15px;
    max-width: 90%;
    left: 20px;
    padding: 5px;
    .country-select {
      width: 100%;
    }
  }

  .state-input {
    margin-top: 15px;
    max-width: 90%;
    left: 20px;
    padding: 5px;
    .state-select {
      width: 100%;
    }
  }

  .personal-information-input {
    margin-top: 15px;
    left: 20px;
    padding: 5px;
    width: 90%;
  }

  .address-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    left: 20px;
    padding: 5px;
    align-items: flex-start;

    .address-input-label {
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .address-input {
        width: 100%;
      }
    }

    .same-mailing-checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 40%;
      height: max-content;
    }
  }

  .accredited-investor-status {
    margin-top: 15px;
    max-width: 90%;
    left: 20px;
    padding: 5px;
  }

  .information-notice {
    margin-top: 20px;
    position: relative;
    font-size: 12px;
    color: rgb(117, 117, 117);
    left: 20px;
    width: 90%;
  }
}

.MuiMenuItem-root {
  white-space: normal !important;
  border-top: 1px solid gray;
}

@media screen and(max-width: 960px) {
  .PersonalInformationPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.numbers {
  /* hides arrows on number input in SSN */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
