
.SPVDocumentModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .paper {
    height: 95vh;
    width: 70vw;
    display: flex;
    padding: 2rem;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFF;
    box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
    border: 1px solid rgb(232, 232, 232);


    .root-container-spv-viewer {
      width: 100%;
      height: 90%;
      border-radius: 5px;
      padding: 1rem;
      background-color: #FBFCFF;
      box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
      border: 1px solid rgb(232, 232, 232);

      .embed-responsive {
        width: 100%;
        height: 95%;
        border-radius: 5px;
        background-color: #FBFCFF;
        border: 1px solid rgb(232, 232, 232);

        .embed-responsive-item {
          height: 100%;
          width: 100%;
        }

      }
      div {

        .closed-icon {
          cursor: pointer;
        }
      }
    }

    .buttonContainer {
      display: flex;
      width: 20rem;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 1rem;

      .button {
        height: 60%;
        height: 3rem;
      }

      .declineBtn {
        background: grey;
      }
    }
  }
}

@media screen and (max-width: 960px) {

.SPVDocumentModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .paper {
    height: 75vh;
    width: 90vw;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFCFF;
    box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
    border: 1px solid rgb(232, 232, 232);


    .root-container-spv-viewer {
      width: 100%;
      height: 90%;
      border-radius: 5px;
      padding: 1rem;
      background-color: #FBFCFF;
      box-shadow: rgba(170, 170, 170, 0.25) 2px 2px 4px 0px;
      border: 1px solid rgb(232, 232, 232);

      .embed-responsive {
        width: 100%;
        height: 90%;
        border-radius: 5px;
        background-color: #FBFCFF;
        border: 1px solid rgb(232, 232, 232);

        .embed-responsive-item {
          height: 100%;
          width: 100%;
        }

      }
      div {

        .closed-icon {
          cursor: pointer;
        }
      }
    }

    .buttonContainer {
      display: flex;
      width: 20rem;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 1rem;
      max-width: 90%;
      overflow: hidden;

      .button {
        height: 60%;
        height: 3rem;
        max-width: 45%;
      }

      .declineBtn {
        background: grey;
      }
    }
  }
}

}
