@import "../../App.scss";

.InvitedDeals {
    .table-wrapper {
        @include xs-only {
            button {
                font-size: 0.8em;
            }
            .fa-external-link-alt {
                font-size: 0.8em;
            }
        }
    }

    a {
        text-decoration: none;
    }

    th {
        font-weight: bold;
    }
}