@import "../../../App.scss";

.AdminHome {
    margin-bottom: 50px;
    .welcome {
        height: 375px;
        padding: 30px 15px;
        >div {
            font-size: 1.2em;
        }

        .create-deal-button {
            background-color: $brandblue;
            margin: 20px 0px 10px 0px;
            a {
                color: #fff;
            }
        }
    }

    .superadmin-section {
        a {
            color: #fff;
        }
    }

    .deals {
        height: 375px;

        .deals-table {
            height: 290px;
            overflow-y: scroll;
        }
    }

    hr {
        margin: 4px 0px 16px 0px;
    }

    .tile-header {
        padding: 5px 10px;
        margin: 0px 5px;
        // border-bottom: 1px solid #a7a7a7;
        font-size: 1.3em;
        color: #333;
        // background-color: $softblue;
    }

    .deals-closed, .investments {
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 20px;
        .scroll-wrapper {
            height: 250px;
            overflow-y: scroll;
        }
        .all-btn {
            margin-left: 15px;
            a {
                color: #fff;
            }
        }
    }

    .deal-info {
        // border: 1px solid $green;
        padding: 15px;
        margin-bottom: 10px;
        // background-color: rgba(83,185,135,0.1);
        color: #333;

        .deal-status {
            background-color: $brandblue;
            color: #fff;
            padding: 3px 6px;
        }

        .company-name {
            font-size: 1em;
        }
    }

    .deal-progress {
        height: 20px;
        width: 150px;
        text-align: center;
    }

    .deals-title {
        .deals-length {
            background-color: $softblue;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .all-btn {
            vertical-align: top;
            margin-left: 15px;
            a {
                color: #fff;
            }
        }
        padding: 5px;
        font-size: 1.2em;
        
        // height:
    }
}