@import "../../App.scss";

.AllocationsX-header {
    background-color: $brandblue;
    color: #fff;

    margin-left: -15px;
    margin-right: -15px;
    margin-top: -80px;
    padding: 30px 30px 15px 30px;
    margin-bottom: 15px;
}

.AllocationsX-home {
    .Book-side-wrapper {
        // margin: 10px;
    }

    .Book-side th {
        background-color: $softblue;
    }

    .buy-button {
        background-color: $green;
        color: #fff;
    }

    .OrderForm {
        // border: 1px solid ;
        padding: 15px 0px;
    }
}