.AllocationsX-Home {
    .deal-org {
        color: #a7a7a7;
    }
    .trade-btn a {
        color: #fff;
    }

    .deal-logo {
        text-align: center;
    }
    .volume {
        font-size: 1.2em;
    }
}