@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.W8BEN {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;

  .form-header {
    background: #ffffff;
    width: 100%;
    padding: 20px 0;

    h2 {
      font-size: 1.75rem;
      padding-left: 1rem;
    }
    h3 {
      font-weight: 400;
      font-size: 1rem;
      padding-left: 1rem;
    }

    border-bottom: 2px solid #e3e4e7;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbfcff;
    width: 100%;

    label span {
      opacity: 0.85;
      font-size: 10px;
    }

    .form-field {
      width: 95%;
      margin-top: 5px;
      .form-label {
        display: flex;
        flex-direction: column;

        span {
          opacity: 0.85;
          font-size: 10px;
        }
      }
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    .residence-container {
      padding: 0;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;

      .city {
        width: 57.5%;
      }

      .country {
        width: 40%;
      }
    }

    .region {
      padding: 0;
      width: 95%;

      .city {
        width: 60%;
      }

      .state {
        width: 17.5%;
      }

      .zip {
        width: 20%;
      }
    }

    .date-signed {
      width: 95%;
    }

    .tin-container {
      padding: 0;
      width: 95%;
      display: flex;
      justify-content: space-between;
      .tin {
        width: 50%;

        .tin-inputs {
          padding: 0;
          display: flex;
          justify-content: space-between;

          .ssn-tin {
            width: 100%;
          }
        }
      }

      .foreign-tax-id {
        width: 47.5%;

        .foreign-tax-id-input {
          width: 100%;
        }
      }
    }

    .form-button {
      width: 95%;
      height: 3rem;
      text-transform: none;
      outline: none;
      margin-bottom: 10px;
    }

    .signature {
      input {
        font-family: 'Great Vibes', cursive !important;
        color: black;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .accept {
      background-color: #99e090;
      color: white;

      &:hover {
        background-color: #83e176;
      }
    }

    .decline {
      background-color: #fbfcff;
      &:hover {
        background-color: #eaebed;
      }
    }
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
