@import "../../App.scss";

$break-sm: 768px;
$break-xs: 576px;

.deal-status {
    color: #fff;
    padding: 1px 4px;
    font-size: 0.85em;
    border-radius: 4px;
    opacity: 0.7;
}

span[data-status="onboarding"] {
    background-color: $brandblue;
}

span[data-status="closing"] {
    background-color: tomato;
}

span[data-status="closed"] {
    background-color: $green;
}

.UserHome {
    .row {
        padding: 10px;
        @media screen and (max-width: $break-sm) {
            padding: 0px 10px;
        }
    }

    .admin-tile {
        a {
            color: #fff;
        }
        .admin-table {
            max-height: 200px;
            overflow-y: scroll;
        }
        padding-left: 50px;
        padding-right: 50px;
    }

    .chart-container {
        padding: 15px 5px;
        pointer-events: none;
    }

    .tile-top {
        min-height: 284px;
    }

    .tile-bottom {
        height: 250px;
        overflow: scroll;
        padding: 20px 15px;
    }

    .complete-info-prompt {
        background-color: #ffcedf;
        border: 1px solid #ff7fad;
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.2em;
    }

    .admin-link {
        // background-color: $brandblue;
        padding: 10px 20px;
        font-size: 1.2em;
        margin-bottom: 15px;
        border-radius: 10px;
        a {
            color: #333;
        }
    }

    .welcome {
        .welcome-text {
            font-size: 1.7em;
            padding: 10px 0px;
        }
        .welcome-desc {
            >div {
                margin-top: 10px;
            } 
            a {
                text-decoration: none;
                color: black;
            }
        }
        .button {
            background-color: $green;
        }
    }

    .total-investments {
        .amount {
            text-align: center;
            font-size: 2.3em;
        }
    }

    .investment-stub {
        padding: 10px 10px;
        margin-bottom: 15px;
        cursor: pointer;
        position: relative;
        &:hover {
            background-color: $softblue;
        }
        >span {
            display: inline-block;
        }
        span:nth-child(1) {
            padding-right: 10px;
        }
        .investment-status {
            position: absolute;
            top: -10px;
            right: 5px;
            font-size: 0.85em;
            opacity: 0.7;
        }

        i {
            color: #a7a7a7;
        }    
    }

    .invited-deals {
        .tile {
            overflow: scroll;
        }
        .deal-stub {
            margin-bottom: 15px;
        }
    }

    .deal-stub {
        padding: 5px 10px;
        cursor: pointer;
        position: relative;
        color: #333;
        &:hover {
            background-color: $softblue;
        }
        >span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        >span:nth-child(2) {
            font-size: 0.9em;
            color: #a7a7a7;
            text-align: right;
        }
        .deal-status {
            position: absolute;
            right: -5px;
            top: -5px;
        }
        a:hover {
            color: #fff;
        }    
    }
}