.UserHome {
    padding-top: 75px;

    .row {
        padding: 10px;
    }

    .tile {
        padding: 20px 25px;
        height: 200px;
        border-radius: 2px;
        box-shadow: 2px 2px 2px 2px #e6e6e6;
        .small-header {
            color: #a7a7a7;
            text-align: center;
            padding-bottom: 10px;
        }
    }

    .welcome {
        .welcome-text {
            font-size: 1.7em;
        }
    }

    .total-investments {
        .amount {
            text-align: center;
            font-size: 1.6em;
        }
    }
}