$break-sm: 768px;
$break-xs: 576px;

@mixin xs-only {
  @media (max-width: $break-xs) { @content }
}

@mixin sm-only {
  @media (max-width: $break-sm) { @content }
}

@mixin sm-and-up {
  @media (min-width: $break-sm) { @content }
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}


.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.xs-navbar {
  display: none;
  @media screen and (max-width: $break-sm) {
    display: block;
    text-align: center;
    padding: 15px;
    .hamburger {
      position: absolute;
      right: 45px;
      top: 20px;
      font-size: 1.5em;
    }
  }
}

// navbar
.Navbar {
  height: 80px;
  @media screen and (max-width: $break-sm) {
    height: 0px;
  }
  .navbar {
    padding: 10px 0px 5px 0px;
    background-color: transparent;
    box-shadow: none;
  }
  ul {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .loading-user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: lightgray;
  }
}

