$break-md: 992px;
$break-sm: 768px;
$break-xs: 576px;

@mixin xs-only {
  @media (max-width: $break-xs) { @content };
}

@mixin sm-only {
  @media (max-width: $break-sm) { @content };
}

@mixin md-only {
  @media (max-width: $break-md) { @content };
}

@mixin sm-and-up {
  @media (min-width: $break-sm) { @content };
}

$green: #53B987;
$offwhite: #FCFCFC;
$softblue: #eaeffc;
$brandblue: #4169E1;

$brightgreen: #05eaa4;
$softgreen: #21ce99;
$graygreen: #e6f9f3;

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}


.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.tile {
  padding: 20px 25px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
  .small-header {
    color: #a7a7a7;
    text-align: center;
    padding-bottom: 10px;
  }
  @media screen and (max-width: $break-sm) {
    margin-bottom: 15px;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.xs-navbar {
  display: none;
  @media screen and (max-width: $break-sm) {
    display: block;
    text-align: center;
    padding: 5px;
    .hamburger {
      position: absolute;
      right: 45px;
      top: 20px;
      font-size: 1.5em;
    }
  }
}

.public-navbar {
  .public-brand {
    margin: 20px; 
    cursor: pointer;
  }

  .public-brand-allocations {
    height: 70px;
    width: 210px;
    margin: 20px;
    cursor: pointer;
  }

  .sign-in-btn {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    color: $brandblue;
  }

  .sign-up-btn {
    float: right;
    background-color: $brandblue;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
  }

  @media screen and (max-width: $break-sm) {
    padding: 5px 10px;
    .public-brand {
      margin: 10px 0px;
    }

    .public-brand-allocations {
      margin: 0px 0px 5px 0px;
    }

    .sign-in-btn, .sign-up-btn {
      margin-right: 4px;
      font-size: 0.8em;
    }
  }
}

.app-body {
  background-color: $offwhite;
  padding-bottom: 50px;
}

// navbar
.Navbar {
  height: 80px;
  @media screen and (max-width: $break-sm) {
    height: 0px;
  }
  .navbar {
    padding: 10px 0px 5px 0px;
    background-color: transparent;
    box-shadow: none;
  }
  ul {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .loading-user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: lightgray;
  }
}

// table helpers
.table-wrapper {
  border-radius: 10px;
  overflow-x: scroll;
}

th {
  font-weight: bold;
}

.square-number {
  background-color: $softblue;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.circular-number {
  background-color: $softgreen;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.progress-bar {
  height: 15px !important;
  width: 150px;
  text-align: center;
}

// Error
.Error {
  background-color: tomato;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  font-size: 1em;
  color: #fff;
}

