body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* BEGIN global css for Sidebar Nav Sidebar/index.js */
.sidebar-nav-item a {
    color: #8493a6;
}

.sidebar-nav-item:hover a {
    text-decoration: none !important;
}

.sidebar-nav-item-active a {
    color: #343f51 !important;
    font-weight: bold;
}

.sidebar-nav-item-active svg {
    color: #205DF5;
}

/* END global css for Sidebar Nav Sidebar/index.js */
