.pdf-container {
    min-width: 100%;
    min-height: 1.3rem;
    font-size: .9rem;
    margin: .3rem;
    border-radius: .25rem;
    padding: .25rem;
    margin-bottom: .5rem;
    text-align: center;
}
.iframe-spv-agreement {
    max-height: 100%;
}
.root-container-spv-viewer {
    width: 100%;
    text-align: center;
    border-bottom: solid black 3px;
    .close-icon {
        cursor: pointer;
}
}
